@page
@model DiegoOrdonezBecerril_18300218_RazorPages.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Usuarios";
}

<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Listado de usuarios</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Agregar un nuevo usuarios</a>
    </div>
</div>
<form method="post">
    @if (Model.Usuarios.Count() > 0)
    {
        <br />
        <table class="table table-striped border">
            <thead>
                <tr class="table-secondary">
                    <th>@Html.DisplayNameFor(model => model.Usuarios.FirstOrDefault().Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.Usuarios.FirstOrDefault().NombreUsuario)</th>
                    <th>Editar | Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Usuarios)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Nombre)</td>
                        <td>@Html.DisplayFor(model => item.NombreUsuario)</td>
                        <td>
                            <button asp-route-id="@item.Id" asp-page-handler="Delete" onclick="return confirm('¿Estas seguro de que deseas eliminar el registro?')" class="btn btn-danger btn-sm">Borrar</button>
                            <a asp-route-id="@item.Id" asp-page="Edit" class="btn btn-success btn-sm">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <label>Total de usuarios: @Model.Usuarios.Count()</label>
    }
    else
    {
        <div class="alert alert-info">Aún no hay ningún usuario</div>
    }
</form>