@page
@model DiegoOrdonezBecerril_18300218_RazorPages.Pages.Cursos.IndexModel
@{
    ViewData["Title"] = "Cursos";
}

<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Listado de cursos</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Crear un nuevo curso</a>
    </div>
</div>
<form method="post">
    @if (Model.CursosF.Count() > 0)
    {
        <br />
        <table class="table table-striped border">
            <thead>
                <tr class="table-secondary">
                    <th>@Html.DisplayNameFor(model => model.CursosF.FirstOrDefault().Nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.CursosF.FirstOrDefault().Cantidad)</th>
                    <th>@Html.DisplayNameFor(model => model.CursosF.FirstOrDefault().Precio)</th>
                    <th>Editar | Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CursosF)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.Nombre)</td>
                        <td>@Html.DisplayFor(model => item.Cantidad)</td>
                        <td>@Html.DisplayFor(model => item.Precio)</td>
                        <td>
                            <button asp-route-key="@item.Key" asp-page-handler="Delete" onclick="return confirm('¿Estas seguro de que deseas eliminar el registro?')" class="btn btn-danger btn-sm">Borrar</button>
                            <a asp-route-key="@item.Key" asp-page="Edit" class="btn btn-success btn-sm">Editar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <label>Total de cursos: @Model.CursosF.Count()</label>
    }
    else
    {
        <div class="alert alert-info">Aún no hay cursos disponibles</div>
    }
</form>