@page
@model DiegoOrdonezBecerril_18300218_RazorPages.Pages.ProfesorCursos.IndexModel
@{
    ViewData["Title"] = "Profesor <-> Curso";
}

<div class="container row">
    <div class="col-6">
        <h2 class="text-info">Listado de cursos por profesor</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-page="Create" class="btn btn-primary">Generar relación</a>
    </div>
</div>
<form method="post">
    @if (Model.ProfesoresFToCursosF.Count() > 0)
    {
        <br />
        <table class="table table-striped border">
            <thead>
                <tr class="table-secondary">
                    <th>@Html.DisplayNameFor(model => model.ProfesoresFToCursosF.FirstOrDefault().NombreProfesor)</th>
                    <th>@Html.DisplayNameFor(model => model.ProfesoresFToCursosF.FirstOrDefault().NombreCurso)</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProfesoresFToCursosF)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.NombreProfesor)</td>
                        <td>@Html.DisplayFor(model => item.NombreCurso)</td>
                        <td>
                            <button asp-route-key="@item.Key" asp-page-handler="Delete" onclick="return confirm('¿Estas seguro de que deseas eliminar el registro?')" class="btn btn-danger btn-sm">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <label>Total de cursos impartidos por profesores: @Model.ProfesoresFToCursosF.Count()</label>
    }
    else
    {
        <div class="alert alert-info">Aún no hay cursos impartidos por profesores disponibles</div>
    }
</form>
